body {background-color: #000;
    color: red;

}

#logobar {text-align: center;
}

#navbar {text-align: center;}

#statbar {
    margin: auto;
    max-width: fit-content;
    height: fit-content;
    background-color: grey;
    text-align: center;
    border: #808080, 1px;
}
div{
    border: 1px;
    border-style: dotted;
    border-color: #808080;
}
#gamescreen {
    display: flex;
    height: 310px;
    
}

#topstats{
    display:flex;
    justify-content: space-between;
}

#bottomstats{
    display: flex;
    justify-content: space-between;
}

#alertbar{
    display: flex;
    justify-content: center;
    height:fit-content;
}

#pcactions{
    margin:auto;
    max-width:fit-content;
}
#inventory{
    flex: 1;
    overflow-y: auto;
    
}

#mainscreen{
    flex: 3.5;
}

#maintext{
    height: 200px;
}

#pcjournal{
    flex: 1;
    width: 150px;
    overflow-y: auto;
}

#studio{
    text-align: center;
}